# Byte-compiled files
__pycache__/
# Environment files
.travis.yml
pytest.ini
.devcontainer/
*.todo
*.out
redis-data/
*.pyc

# Unit test / coverage reports
htmlcov/
.mypy_cache/
.pytest_cache/
html_coverage_report/
.tox/
.coverage
.coverage.*
.coveragerc
setup.cfg
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/