# Byte-compiled files
__pycache__/
# Environment files
.env
*.env
.travis.yml
pytest.ini
.devcontainer

# Unit test / coverage reports
htmlcov/
html_coverage_report/
.tox/
.coverage
.coverage.*
.coveragerc
setup.cfg
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/